@model Carflix.ViewModels.ConsultaCepViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="ResultadoConsulta">
        @Html.Partial("_PesquisaCep", Model)
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script>
    $('#Cep').mask('99999-999');
</script>
