@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Carflix</h1>
    <p>Saber mais<a href="https://www.carflix.com.br/"> - Vender e comprar seu carro sem sair de casa.</a>.</p>
</div>
